@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.all{
  background-color: #7F7DD4;

}
body{
  overflow: hidden;
  
}

section{
  width: 500px;
  margin-left: 35%;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #7F7DD4;
}
section .color{
  position: absolute;
  filter:blur(150px);
}
section .color:nth-child(1){
  top:-350px;
  right: -10px;
  width: 600px;
  height: 600px;
  background: #C102D4;
}
section .color:nth-child(2){
  bottom:-150px;
  left: 100px;
  width: 500px;
  height: 500px;
  background: #9709AE;
}
section .color:nth-child(3){
  bottom:50px;
  right: 100px;
  width: 300px;
  height: 300px;
  background: #00d2ff;
}
.box{
  position: relative;
}
.container{
  position: relative;
  width: 400px;
  height: 400px;
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter:blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);

}
.form{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;

}
.form h2{
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;

}
.form h2::before{
  content: '';
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: #fff;
}
.form .inputBox{
  width: 100%;
  margin-top: 20px;
}
.form .inputBox input{
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color:#fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.form .inputBox input::placeholder{
  color: #fff;
}
.form .inputBox input[type="submit"]{
  background: #fff;
  color: #666;
  max-width: 100px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}
.form .inputBox input[type="submit"] #reg{
  background: #fff;
  color: #666;
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}
.forget{
  margin-top: 5px;
  color:#fff;
}
.forget a{
  color:#fff;
  font-weight:600;
}
