@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;

}
html {
  overflow-y: scroll;
}
.obj1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #f7fc68;
  background: url(backgroundd.png);
  background-position: center;
  background-attachment: fixed;
  background-size:cover;

}
header{
  margin-top: 5px;
  width: 99%;
  position: absolute;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.4);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  backdrop-filter:blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);



}
header ul{
  display: flex;
}
header ul li{
  list-style: none;
  margin: 0 20px;
}
header ul li a{
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  color: #7C0E71;
  padding: 8px 15px;
  border-radius: 15px;
}
header ul li a:hover, header ul li a.active{
  background: #fff;
  box-shadow: 0 5px 10px(0,0,0,0.1);
}
.logo{
  color: #7C0E71;
  font-weight: 700;
  text-decoration: none;
  font-size:20px;
  margin-right: 500px;
}
nav img{
  max-width: 40px;

}
.containerbig{
  display: flex;
  flex-direction: column;
}

.containera{
  position: relative;
  width: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 110px 0;
  background-color: green;
  background: rgba(255,255,255,0.4);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  backdrop-filter:blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
}
.containera .box{
  position: relative;
  width: 200px;
  height: 290px;
  margin: 30px;
  background: #fff;
  box-sizing: 0px 30px 50px rgba(0,0,0,0.05);
  overflow: hidden;
  border-radius: 15px;
}
.containera .box .imgBx{
  position:  absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.containera .box:hover .imgBx{
  opacity: 0.5;

}
.containera .box .imgBx img{
  max-height:  100%;

}
.containera .box .content{
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  background: #fff;
  transform: scale(1) translateY(calc(100% - 5px));
}
.containera .box:hover .content{
  transform: scale(1);
}
.containera .box .content h3{
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 20px;

}

.containerb{
  margin-top: -90px;
  display: flex;
  flex-direction: row;
  width: 1500px;
}
.navigation{
  width: 20%;
  height: 600px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(255,255,255,0.4);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  backdrop-filter:blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
}
.categories .ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories ul li{
  list-style: none;
  margin: 20px 20px ;
}
.categories ul li a{
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 700;
  color: #7C0E71;
  padding: 10px 25px;
  border-radius: 15px;
}
.categories ul li a:hover, .categories ul li a.active{
  background: #fff;
  box-shadow: 0 5px 10px(0,0,0,0.1);
}
.social .ul{
  display: flex;
  flex-direction: row;
}
.social ul li{
  list-style: none;
  margin: 20px 20px;
}
.social ul li a{
  text-decoration: none;
  font-weight: 600;
  color: #7C0E71;
  padding: 8px 15px;
  border-radius: 15px;
}
.social ul li a:hover, .social ul li a.active{
  background: #fff;
  box-shadow: 0 5px 10px(0,0,0,0.1);
}

input{
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.5);
  border-right: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color:#fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
input::placeholder{
  color: #fff;
}

.explore{
  position: relative;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 80%;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  align-items: start;
  background: rgba(255,255,255,0.4);
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border-radius: 20px;
  backdrop-filter:blur(10px);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
}
.explore .box{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 350px;
  margin: 30px;
  background: #fff;
  box-sizing: 0px 30px 50px rgba(0,0,0,0.05);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.05);
  border: 1px solid rgba(255,255,255,0.25);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
}
.explore .box .imgBx{
  position:  absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 90%;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.explore .box:hover .imgBx{
  opacity: 0.8;
  transform: scale(1.15);

}
.explore .box .imgBx img{
  max-height:  100%;

}
.explore .box .content{
  position: relative;
  top: 300px;
  left:0;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
  background: #fff;
}

/* .explore .box:hover .content{

} */
.searchbar {
  width: 200%;
}

.explore .box .content h3{
  font-size: 16px;
  letter-spacing: 1px;
}
.explore .box .content h4{
  font-weight:500;
}

.seasonTitle {
  color: #7C0E71;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 700;
  padding-top: 20px;
}

.active:hover {
    cursor: pointer;
}

.box:hover{
  cursor: pointer;
}
